/*table.mytable:hover tbody td {*/
/*    color: #ccc;*/
/*    background: #ccc;*/
/*}*/
table tbody th{
  text-align:center;
}
table tbody td{
  text-align:left;
  padding:2px;
}
table.mytable:hover tbody tr:hover td {
    color: #666;
    background: #cef;
}
table.mytable:hover tbody tr:hover th {
    background: #eee;
}
table.mytable:hover tbody:hover td:hover {
    opacity: 1;
    color: #fff;
    background: #69f;
}

table a{
    margin:3px;
    padding:3px;
}

table .content{
  display: inline-block;
  width:80%;
  padding:2px;
}