/*table.mytable:hover tbody td {*/
/*    color: #ccc;*/
/*    background: #ccc;*/
/*}*/
/*table tbody th{*/
/*  text-align:center;*/
/*}*/
/*table tbody td{*/
/*  text-align:left;*/
/*  padding:2px;*/
/*  word-wrap:break-word;*/
/*}*/
/*table.mytable:hover tbody tr:hover td {*/
/*    color: #666;*/
/*    background: #cef;*/
/*}*/
/*table.mytable:hover tbody tr:hover th {*/
/*    background: #eee;*/
/*}*/
/*table.mytable:hover tbody:hover td:hover {*/
/*    opacity: 1;*/
/*    color: #fff;*/
/*    background: #69f;*/
/*}*/


/*table{*/
/*  width:100%;*/
/*}*/

/*table a{*/
/*  margin:3px;*/
/*  padding:3px;*/
/*}*/


/*table .no{*/
/*  width:40px;*/
/*}*/

/*table .content{*/
  /*width:100%;*/
/*  max-width:500px;*/
/*}*/

/*table .time{*/
/*  width:160px;*/
/*}*/

table .task-content{
  display: block;
  width:100%;
  padding:2px;
}

/*table tbody td .buttons{*/
/*  display:block;*/
/*  text-align:left;*/
/*  width:30%;*/
/*}*/

.panel-body {
background:#FFCCFF;
}

h4 {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

/*.inc-glyphi{*/
/*  text-align:left;*/
/*}*/

/*.p-gly{*/
/*  background-color: #fff7e6;*/
/*  max-width: 50%;*/
/*  margin:0 auto;*/
/*}*/

.glyphicon{
  width:20px;
}
